.dropdown-toggle.btn-light {
    background-color: #dfdfdf !important;
}

.sectionHeader {
    padding-top:15px
}

.filter_label {
    padding: 5px;
    font-size: 20px;
}

.filter_text {
    font-size: 20px;
}

.sortsection {
    padding-top: 5px;
}

.fieldHeader {
    height: 40px;
    padding-top: 7px;
    font-weight: bold;
}

.formsection {
    padding-bottom: 10px;
}

.addToTeamSection {
    padding-top:10px;
}

.statfield {
    background-color: white !important;
}

.row {
    padding-top: 5px;
    padding-bottom: 5px;
}

#overallSection, .tab-pane {
    padding-left: 15px;
}

#cardDropdown label {
    padding-right: 10px;
}

.addToTeamSection label {
    padding-right: 10px;
}

.col-md-1 {
    min-width: 95px;
}

.col-sm-1 {
    min-width: 180px;
}

.club {
    padding-top: 15px;
}

.nav-tabs {
    padding-top: 5px;
}
